Notebook for performance analysis with PostGIS
=============================================

Prerequisite:
* python and ipython notebook installed
* psycopg2 (although this is optional as loading can also be done straight in SQL)
* extension *sql* magic (see https://github.com/catherinedevlin/ipython-sql for details)


Also, one needs a postgres/postgis instance running and adjust the connection string.

In [1]:
%load_ext sql

In [2]:
%sql postgresql://localhost/pspat

u'Connected: None@pspat'

Data loading strategy for brain region and neuron (3D box)
==========================================================

* Data access object layer (DAO java-code) provides a method to convert input coordinate of opposite corners (lower-left, upper-right) into the WKT string (see an ex. 'objAsWKT' below)
* The DAO insert method load Polyhedral cube using ST_GeomFromEWKT(%cube) by passing the string conversion (see insertSQL)
* possible methods overloaded possible to take alternative input: extreme corner, centroid and size

**DDL test set-up** (use a simple 'cube' table for test purposes)

In [4]:
%%sql
drop table cube;
create table cube(id serial
                   ,name varchar(100)
                   ,centroid_x double precision
                   ,centroid_y double precision
                   ,centroid_z double precision);

Done.
Done.

[]

In [5]:
%%sql 
select AddGeometryColumn('public','cube','obj_geom',0,'POLYHEDRALSURFACE',3);

1 rows affected.

[(u'public.cube.obj_geom SRID:0 TYPE:POLYHEDRALSURFACE DIMS:3 ',)]

In [6]:
%%sql 
alter table cube alter column obj_geom set not null;
create index cubeindex on cube using gist(obj_geom);
create unique index on cube(name);

Done.
Done.
Done.

[]

In [7]:
def objAsWKT(minCoord, maxCoord):
    """ minCoord: tupple for min coordinates of 3D box
        maxCoord: tupple for max coordinates of 3D box
    """
    xmin = str(minCoord[0]) + " "
    ymin = str(minCoord[1]) + " "
    zmin = str(minCoord[2]) + " "
    xmax = str(maxCoord[0]) + " "
    ymax = str(maxCoord[1]) + " " 
    zmax = str(maxCoord[2]) + " "
    
    prefix = 'SRID=0; POLYHEDRALSURFACE('
    #facets vertices counter-clockwise
    z = '((' +xmin+ymin+zmax+','+xmax+ymin+zmax+','+xmax+ymax+zmax+','+xmin+ymax+zmax+','+xmin+ymin+zmax + ')),'
    z_= '((' +xmax+ymin+zmin+','+xmin+ymin+zmin+','+xmin+ymax+zmin+','+xmax+ymax+zmin+','+xmax+ymin+zmin + ')),'
    x = '((' +xmax+ymin+zmax+','+xmax+ymin+zmin+','+xmax+ymax+zmin+','+xmax+ymax+zmax+','+xmax+ymin+zmax + ')),'
    x_= '((' +xmin+ymin+zmin+','+xmin+ymin+zmax+','+xmin+ymax+zmax+','+xmin+ymax+zmin+','+xmin+ymin+zmin + ')),'
    y = '((' +xmin+ymax+zmin+','+xmin+ymax+zmax+','+xmax+ymax+zmax+','+xmax+ymax+zmin+','+xmin+ymax+zmin + ')),'
    y_= '((' +xmin+ymin+zmax+','+xmin+ymin+zmin+','+xmax+ymin+zmin+','+xmax+ymin+zmax+','+xmin+ymin+zmax + '))'
    postfix = ")"
    return prefix + z + z_ + x + x_ + y + y_ + postfix

**Let's insert a simple box (0,0,0),(1,1,1)**

In [8]:
objectWKT = objAsWKT((0,0,0),(1,1,1))

In [9]:
%%sql 
INSERT INTO cube(name,centroid_x,centroid_y,centroid_z,obj_geom) 
VALUES('cubeTest', 0.5, 0.5, 0.5, ST_GeomFromEWKT(:objectWKT));

1 rows affected.

[]

**Validate the box is correctly stored**

In [10]:
%%sql
select ST_AsEWKT(obj_geom) from cube where name = 'cubeTest';

1 rows affected.

[(u'POLYHEDRALSURFACE(((0 0 1,1 0 1,1 1 1,0 1 1,0 0 1)),((1 0 0,0 0 0,0 1 0,1 1 0,1 0 0)),((1 0 1,1 0 0,1 1 0,1 1 1,1 0 1)),((0 0 0,0 0 1,0 1 1,0 1 0,0 0 0)),((0 1 0,0 1 1,1 1 1,1 1 0,0 1 0)),((0 0 1,0 0 0,1 0 0,1 0 1,0 0 1)))',)]

**Validate the box is closed**

In [11]:
%%sql 
select ST_IsClosed(obj_geom) from cube where name = 'cubeTest';

1 rows affected.

[(True,)]

**Validates it has 6 faces**

In [13]:
%%sql
select ST_numpatches(obj_geom) from cube where name = 'cubeTest';

1 rows affected.

[(6,)]

Implementation of the "NearMe" query:
====================================

**Insert sample cubes data**

In [14]:
nb_cubes = 3000000
max_size = 5.0
max_range = 50000.0

Implementation using python/psycopg2 WARNING: insert row by row with auto-commit, so kind of slow (ok for nb_cubes < 100'000):

In [46]:
import psycopg2 as ps
from random import *
conn = ps.connect(host="bbpdbsrv03", database="pspat", user="pspat")
conn.set_isolation_level(0)
cur = conn.cursor()
ins = "insert into cube(name,obj_geom) values(%s,ST_GeomFromEWKT(%s))"
for i in range(nb_cubes):
    x, y, z  = random()*max_range, random()*max_range, random()*max_range
    cube_size = max_size * random()
    name = "cube_at (%d,%d,%d) of size %d" %(x, y, z, cube_size)
    cubewkt = objAsWKT((x,y,z),(x+cube_size,y+cube_size,z+cube_size))
    cur.execute(ins, (name, cubewkt))
cur.close()
conn.close()

Much quicker alternative that bulk insert all rows in one transaction (3M rows loaded in less than 15min):

In [15]:
%%sql
with sim_data as(
	select x xmin, y ymin, z zmin, x+size xmax, y+size ymax, z+size zmax, size from	
	(select id 
		,random()*:max_range as x
		,random()*:max_range as y
		,random()*:max_range as z
		,random()*:max_size as size
	from generate_series(1,:nb_cubes) id) as foo
)
insert into cube(name, centroid_x, centroid_y, centroid_z, obj_geom) 
select 
    'cube at (' || to_char(xmin,'FM999999.00') || ', ' || to_char(ymin,'FM999999.00') || ', ' || to_char(zmin,'FM999999.00') || ')' as name
	,xmin+size, ymin+size, zmin+size
	,ST_GeomFromEWKT( 'SRID=0; POLYHEDRALSURFACE(' || 
		 '((' ||xmin||' '||ymin||' '||zmax||','||xmax||' '||ymin||' '||zmax||','||xmax||' '||ymax||' '||zmax||','||xmin||' '||ymax||' '||zmax||','||xmin||' '||ymin||' '||zmax || ')),' ||
		'((' ||xmax||' '||ymin||' '||zmin||','||xmin||' '||ymin||' '||zmin||','||xmin||' '||ymax||' '||zmin||','||xmax||' '||ymax||' '||zmin||','||xmax||' '||ymin||' '||zmin || ')),' ||
		'((' ||xmax||' '||ymin||' '||zmax||','||xmax||' '||ymin||' '||zmin||','||xmax||' '||ymax||' '||zmin||','||xmax||' '||ymax||' '||zmax||','||xmax||' '||ymin||' '||zmax || ')),' ||
		'((' ||xmin||' '||ymin||' '||zmin||','||xmin||' '||ymin||' '||zmax||','||xmin||' '||ymax||' '||zmax||','||xmin||' '||ymax||' '||zmin||','||xmin||' '||ymin||' '||zmin || ')),' ||
		'((' ||xmin||' '||ymax||' '||zmin||','||xmin||' '||ymax||' '||zmax||','||xmax||' '||ymax||' '||zmax||','||xmax||' '||ymax||' '||zmin||','||xmin||' '||ymax||' '||zmin || ')),' ||
		'((' ||xmin||' '||ymin||' '||zmax||','||xmin||' '||ymin||' '||zmin||','||xmax||' '||ymin||' '||zmin||','||xmax||' '||ymin||' '||zmax||','||xmin||' '||ymin||' '||zmax || ')) )' )		
from sim_data;

3000000 rows affected.

[]

After loading, refresh statistics for Execution plan optimizer

In [16]:
%sql vacuum analyze cube

Done.

[]

**3- Validate query perf**

**Simple implementation with ST_3DDWithin (making use of 'cubeindex' spatial index!)**

In [17]:
%%sql
explain analyze 
select * from cube where ST_3DDWithin(obj_geom, ST_MakePoint(25000, 25000, 25000),1000);

9 rows affected.

[(u'Bitmap Heap Scan on cube  (cost=136.97..17138.77 rows=289 width=922) (actual time=5.161..106.932 rows=105 loops=1)',),
 (u"  Recheck Cond: (obj_geom && '01030000800100000005000000000000000070D740000000000070D740000000000070D740000000000070D740000000000064D940000000000070D740000000000064D940000000000064D940000000000064D940000000000064D940000000000070D740000000000064D940000000000070D740000000000070D740000000000070D740'::geometry)",),
 (u"  Filter: (('010100008000000000006AD84000000000006AD84000000000006AD840'::geometry && st_expand(obj_geom, 1000::double precision)) AND _st_3ddwithin(obj_geom, '010100008000000000006AD84000000000006AD84000000000006AD840'::geometry, 1000::double precision))",),
 (u'  Rows Removed by Filter: 4718',),
 (u'  Heap Blocks: exact=4802',),
 (u'  ->  Bitmap Index Scan on cubeindex  (cost=0.00..136.90 rows=4331 width=0) (actual time=3.261..3.261 rows=4823 loops=1)',),
 (u"        Index Cond: (obj_geom && '01030000800100000005000000000000000070D740000000000070D740000000000070D740000000000070D740000000000064D940000000000070D740000000000064D940000000000064D940000000000064D940000000000064D940000000000070D740000000000064D940000000000070D740000000000070D740000000000070D740'::geometry)",),
 (u'Planning time: 2.171 ms',),
 (u'Execution time: 107.135 ms',)]

**Optmized implementation with ST_3DDWithin (having the additional 3DBox predicate modifiy the *Filter* step and improves perf!)**

In [18]:
%%sql
explain analyze 
select * 
from cube where ST_3DDWithin(obj_geom, ST_MakePoint(25000, 25000, 25000),1000)
and obj_geom &&& ST_MakeLine(ST_MakePoint(24000, 24000, 24000), ST_MakePoint(26000, 26000, 26000));

9 rows affected.

[(u'Bitmap Heap Scan on cube  (cost=136.90..17149.53 rows=1 width=922) (actual time=4.174..14.969 rows=105 loops=1)',),
 (u"  Recheck Cond: (obj_geom && '01030000800100000005000000000000000070D740000000000070D740000000000070D740000000000070D740000000000064D940000000000070D740000000000064D940000000000064D940000000000064D940000000000064D940000000000070D740000000000064D940000000000070D740000000000070D740000000000070D740'::geometry)",),
 (u"  Filter: ((obj_geom &&& '010200008002000000000000000070D740000000000070D740000000000070D740000000000064D940000000000064D940000000000064D940'::geometry) AND ('010100008000000000006AD84000000000006AD84000000000006AD840'::geometry && st_expand(obj_geom, 1000::double precision)) AND _st_3ddwithin(obj_geom, '010100008000000000006AD84000000000006AD84000000000006AD840'::geometry, 1000::double precision))",),
 (u'  Rows Removed by Filter: 4718',),
 (u'  Heap Blocks: exact=4802',),
 (u'  ->  Bitmap Index Scan on cubeindex  (cost=0.00..136.90 rows=4331 width=0) (actual time=2.518..2.518 rows=4823 loops=1)',),
 (u"        Index Cond: (obj_geom && '01030000800100000005000000000000000070D740000000000070D740000000000070D740000000000070D740000000000064D940000000000070D740000000000064D940000000000064D940000000000064D940000000000064D940000000000070D740000000000064D940000000000070D740000000000070D740000000000070D740'::geometry)",),
 (u'Planning time: 1.164 ms',),
 (u'Execution time: 15.028 ms',)]

**Validate optimized query along with parameter passing**

In [111]:
#param-ins RefPoint and distance
refX = 10000.0
refY = 10000.0
refZ = 10000.0
distance = 1000.0

#calculate 3D box extreme corners
llx, lly, llz = refX-distance, refY-distance, refZ-distance
urx, ury, urz = refX+distance, refY+distance, refZ+distance

In [112]:
%%sql
select  count(*) as nb_cubes
        ,sum(case when ST_3DDWithin(obj_geom, ST_MakePoint(:refX, :refY, :refZ),:distance) then 1 else 0 end) as nb_within
        ,sum(case when ST_3DDWithin(obj_geom, ST_MakePoint(:refX, :refY, :refZ),:distance) and
        		       (obj_geom &&& ST_MakeLine(ST_MakePoint(:llx, :lly, :llz),ST_MakePoint(:urx, :ury, :urz))) 
        	      then 1  else 0 end) as nb_within_optimized
from cube;

1 rows affected.

[(3000001L, 98L, 98L)]

Strategy for DAO implementation of two query types:
---------------------------------------------------

**1) Find all objects within a certain distance from a given "RefPoint"**

In [113]:
%%sql
select id, name, ST_3DDistance(obj_geom, ST_MakePoint(:refX, :refY, :refZ)) as distance
from cube
where ST_3DDWithin(obj_geom, ST_MakePoint(:refX, :refY, :refZ), :distance)
and obj_geom &&& ST_MakeLine(ST_MakePoint(:llx, :lly, :llz), ST_MakePoint(:urx, :ury, :urz))
order by distance;

98 rows affected.

[(1658427, u'cube at (9913.65, 9932.07, 10019.07)', 105.730173206731),
 (326548, u'cube at (9839.67, 10173.53, 9994.02)', 235.164882207249),
 (769791, u'cube at (10170.61, 9825.73, 9803.09)', 312.380273700302),
 (2519024, u'cube at (10154.62, 9646.54, 10065.74)', 390.164870022047),
 (827249, u'cube at (9621.09, 9924.41, 9866.67)', 403.354307594981),
 (1521223, u'cube at (9785.25, 10306.28, 9819.62)', 411.20263276383),
 (1249381, u'cube at (10194.80, 10142.91, 9580.67)', 479.842791918503),
 (1556862, u'cube at (10422.79, 10113.21, 10217.34)', 488.678124842458),
 (2452512, u'cube at (10261.17, 9581.43, 9988.69)', 489.252222960645),
 (984135, u'cube at (10249.81, 10212.57, 10366.69)', 491.989233481311),
 (1693895, u'cube at (10002.05, 9950.29, 9498.74)', 503.221676025063),
 (14559, u'cube at (9852.08, 10497.26, 10134.80)', 535.252654508144),
 (1334033, u'cube at (10168.50, 9529.63, 10247.17)', 553.52325488338),
 (723953, u'cube at (9686.42, 10087.00, 9543.95)', 557.710814807973),
 (1024471, u'cube at (9813.44, 10532.92, 9877.37)', 575.768512156783),
 (249061, u'cube at (9725.14, 9552.73, 9720.88)', 593.614890328537),
 (1314200, u'cube at (9445.00, 9978.90, 10231.54)', 601.343198567967),
 (2438567, u'cube at (9832.39, 10090.53, 10571.90)', 601.539288577816),
 (2229956, u'cube at (10564.43, 10205.29, 10053.11)', 602.947171567298),
 (1144458, u'cube at (9480.46, 10303.40, 10142.58)', 617.859674766188),
 (1882361, u'cube at (9387.66, 9858.39, 10147.07)', 639.958735173407),
 (2509188, u'cube at (10554.16, 10320.67, 9962.49)', 641.242685792521),
 (2725230, u'cube at (9501.12, 9980.17, 10415.59)', 648.225701566229),
 (2280679, u'cube at (10338.41, 10549.17, 10127.72)', 657.58936717976),
 (2815278, u'cube at (10323.87, 9785.61, 9467.73)', 658.242106086397),
 (2294515, u'cube at (10627.14, 10236.87, 10009.40)', 670.450929898718),
 (2299591, u'cube at (10567.21, 9615.10, 10091.81)', 689.259271959432),
 (1157294, u'cube at (9627.77, 9811.57, 9424.95)', 706.7272350572),
 (1751378, u'cube at (10474.21, 9673.61, 10413.55)', 707.960768793537),
 (585233, u'cube at (10083.11, 9983.56, 10710.97)', 715.9091730288),
 (1727438, u'cube at (10081.48, 10235.13, 10674.64)', 719.071484155107),
 (1693787, u'cube at (10707.69, 9889.06, 9931.29)', 719.484161279284),
 (709467, u'cube at (9951.38, 9689.84, 10650.54)', 721.485057766182),
 (437185, u'cube at (9970.03, 9884.70, 9283.28)', 722.875540077647),
 (1488418, u'cube at (9427.16, 9568.82, 10183.32)', 733.92243889964),
 (1343965, u'cube at (10236.42, 10665.11, 10207.83)', 735.84213096052),
 (1545153, u'cube at (10435.76, 10584.24, 10103.50)', 736.161404984525),
 (1221580, u'cube at (9981.13, 9850.30, 10722.49)', 737.323060091521),
 (1416047, u'cube at (9613.74, 10308.14, 10559.81)', 745.279926850678),
 (243890, u'cube at (10049.67, 10729.86, 9844.03)', 747.27161477705),
 (58048, u'cube at (10158.77, 10396.80, 9371.18)', 759.593242680162),
 (788380, u'cube at (10250.62, 9280.84, 9903.01)', 766.305649652311),
 (307253, u'cube at (9328.59, 10240.63, 10303.68)', 772.648606374275),
 (2337405, u'cube at (10022.23, 9547.31, 9366.02)', 773.417370682256),
 (1491822, u'cube at (9813.13, 10258.25, 10707.27)', 774.729373370481),
 (1083968, u'cube at (10467.74, 10620.17, 10010.51)', 776.848991586521),
 (2887157, u'cube at (10159.89, 10705.70, 9710.75)', 778.097041322693),
 (1923266, u'cube at (10276.71, 9861.51, 10716.70)', 780.444262390719),
 (1099207, u'cube at (10566.88, 10517.57, 10156.03)', 783.312796759806),
 (1842663, u'cube at (9771.22, 10464.55, 10594.20)', 787.337879009773),
 (1608105, u'cube at (10649.66, 9915.18, 9551.61)', 791.950871810128),
 (2626165, u'cube at (10515.33, 9395.40, 10054.48)', 794.369977049344),
 (2266941, u'cube at (9234.35, 9835.02, 9833.25)', 794.879890257991),
 (831647, u'cube at (10351.56, 9283.56, 10016.01)', 795.345548176848),
 (1642207, u'cube at (9810.28, 9348.32, 9569.73)', 801.783153876337),
 (1797569, u'cube at (9382.44, 10433.91, 10294.23)', 808.325786623914),
 (749192, u'cube at (9670.25, 9270.36, 9808.82)', 816.823724614187),
 (1445509, u'cube at (9407.80, 10162.11, 9443.54)', 822.443885408077),
 (2886669, u'cube at (9367.95, 10387.66, 10382.24)', 831.953345623931),
 (2460812, u'cube at (9178.03, 9887.75, 10148.66)', 838.403934969234),
 (2468596, u'cube at (9999.40, 10042.00, 9153.98)', 844.257308562383),
 (1390788, u'cube at (10678.60, 10207.22, 10463.68)', 847.608650374667),
 (1536702, u'cube at (9372.58, 9454.17, 9808.34)', 852.01364994856),
 (2155612, u'cube at (10420.62, 9684.63, 9322.04)', 855.990853280635),
 (43733, u'cube at (9651.50, 9302.84, 9628.79)', 860.64360822234),
 (2251049, u'cube at (9844.70, 10673.77, 10514.10)', 861.179781778118),
 (2216102, u'cube at (10496.34, 10135.50, 9301.50)', 867.518710243437),
 (2443216, u'cube at (10369.84, 10566.86, 10546.98)', 870.232752718798),
 (1900280, u'cube at (10362.44, 10786.13, 10108.30)', 872.407124983831),
 (2254042, u'cube at (9253.06, 9528.92, 10006.09)', 877.811515131629),
 (2893603, u'cube at (9885.93, 9716.80, 10831.39)', 884.552839702512),
 (2401435, u'cube at (10241.96, 10740.49, 10424.69)', 887.260391100851),
 (1586774, u'cube at (9678.68, 10796.39, 10230.67)', 889.037730043389),
 (851071, u'cube at (9676.42, 9222.73, 9707.95)', 889.891811583907),
 (2860024, u'cube at (10154.59, 9243.46, 10457.21)', 895.336101189052),
 (323230, u'cube at (10215.40, 10664.47, 10569.03)', 900.953482936612),
 (2948404, u'cube at (10223.37, 9725.81, 9157.34)', 908.158466216459),
 (1009500, u'cube at (10479.03, 10689.69, 9651.97)', 908.412753281617),
 (1579029, u'cube at (10157.22, 9211.21, 9563.50)', 910.277523832766),
 (1386041, u'cube at (10528.58, 9781.74, 9287.83)', 912.337575055399),
 (2338790, u'cube at (10399.00, 9419.07, 10587.00)', 915.041023296611),
 (998170, u'cube at (9879.00, 9215.04, 10470.09)', 919.697856998925),
 (2449145, u'cube at (10678.45, 9710.30, 9441.76)', 921.020504009127),
 (1888837, u'cube at (10813.91, 9605.55, 10203.57)', 925.519296984077),
 (778413, u'cube at (9700.90, 10134.75, 9133.05)', 925.782354108515),
 (2053803, u'cube at (10860.37, 10346.72, 9921.46)', 930.557398085916),
 (138540, u'cube at (9815.89, 10880.92, 10277.19)', 941.354732043834),
 (997981, u'cube at (9081.93, 10238.13, 10065.47)', 947.06800164398),
 (497702, u'cube at (10544.19, 10779.63, 10040.37)', 951.629612516413),
 (533395, u'cube at (9216.76, 10553.43, 9887.51)', 962.979218922241),
 (1575086, u'cube at (9997.05, 10402.29, 9120.08)', 963.311083707586),
 (406926, u'cube at (10565.14, 9913.50, 9214.37)', 967.809307134449),
 (319782, u'cube at (9757.69, 10513.19, 10792.71)', 974.06197583325),
 (2868098, u'cube at (10362.73, 9765.29, 10880.05)', 979.924420019763),
 (1256929, u'cube at (9702.49, 9069.62, 9878.66)', 983.158238049611),
 (593775, u'cube at (9015.72, 9952.26, 10056.15)', 984.405311970808),
 (1403037, u'cube at (10778.13, 9514.27, 9616.77)', 991.988273624317),
 (994406, u'cube at (10958.24, 10109.24, 9762.43)', 992.824259650723)]

**2) Find n closest objects from a given "RefPoint"**

In [114]:
limit_nb = 15

In [115]:
%%sql
select * from
(select id,name,ST_3DDistance(obj_geom, ST_MakePoint(:refX, :refY, :refZ)) as distance
from cube
order by distance
limit :limit_nb) as orderset;

15 rows affected.

[(1658427, u'cube at (9913.65, 9932.07, 10019.07)', 105.730173206731),
 (326548, u'cube at (9839.67, 10173.53, 9994.02)', 235.164882207249),
 (769791, u'cube at (10170.61, 9825.73, 9803.09)', 312.380273700302),
 (2519024, u'cube at (10154.62, 9646.54, 10065.74)', 390.164870022047),
 (827249, u'cube at (9621.09, 9924.41, 9866.67)', 403.354307594981),
 (1521223, u'cube at (9785.25, 10306.28, 9819.62)', 411.20263276383),
 (1249381, u'cube at (10194.80, 10142.91, 9580.67)', 479.842791918503),
 (1556862, u'cube at (10422.79, 10113.21, 10217.34)', 488.678124842458),
 (2452512, u'cube at (10261.17, 9581.43, 9988.69)', 489.252222960645),
 (984135, u'cube at (10249.81, 10212.57, 10366.69)', 491.989233481311),
 (1693895, u'cube at (10002.05, 9950.29, 9498.74)', 503.221676025063),
 (14559, u'cube at (9852.08, 10497.26, 10134.80)', 535.252654508144),
 (1334033, u'cube at (10168.50, 9529.63, 10247.17)', 553.52325488338),
 (723953, u'cube at (9686.42, 10087.00, 9543.95)', 557.710814807973),
 (1024471, u'cube at (9813.44, 10532.92, 9877.37)', 575.768512156783)]

Unfortunately, the special <-> operator does not work for 3-D (http://boundlessgeo.com/2011/09/indexed-nearest-neighbour-search-in-postgis/).  This slow query does a full table scan + sort and cannot make use of the spatial index.

In [116]:
%%sql
explain analyze 
select id,name,ST_3DDistance(obj_geom, ST_MakePoint(:refX, :refY, :refZ)) as distance
from cube
order by distance
limit :limit_nb;

6 rows affected.

[(u'Limit  (cost=1228604.93..1228604.97 rows=15 width=898) (actual time=15752.994..15752.999 rows=15 loops=1)',),
 (u'  ->  Sort  (cost=1228604.93..1236104.93 rows=3000002 width=898) (actual time=15752.992..15752.995 rows=15 loops=1)',),
 (u"        Sort Key: (st_3ddistance(obj_geom, '0101000080000000000088C340000000000088C340000000000088C340'::geometry))",),
 (u'        Sort Method: top-N heapsort  Memory: 27kB',),
 (u'        ->  Seq Scan on cube  (cost=0.00..1155001.52 rows=3000002 width=898) (actual time=0.034..14972.254 rows=3000001 loops=1)',),
 (u'Total runtime: 15753.032 ms',)]

If needed, we could implement at the DAO layer an iterative approach where we would add both constraints below (both are needed for best perf) and increasing/decreasing distance size as to reach the 'n closest object'

In [118]:
%%sql
explain analyze 
select id,name,ST_3DDistance(obj_geom, ST_MakePoint(:refX, :refY, :refZ)) as distance
from cube
where 
ST_3DDWithin(obj_geom, ST_MakePoint(:refX, :refY, :refZ),:distance) 
and (obj_geom &&& ST_MakeLine(ST_MakePoint(:llx, :lly, :llz), ST_MakePoint(:urx, :ury, :urz)))
order by distance
limit :limit_nb;

11 rows affected.

[(u'Limit  (cost=16784.91..16784.91 rows=1 width=898) (actual time=14.716..14.718 rows=15 loops=1)',),
 (u'  ->  Sort  (cost=16784.91..16784.91 rows=1 width=898) (actual time=14.714..14.715 rows=15 loops=1)',),
 (u"        Sort Key: (st_3ddistance(obj_geom, '0101000080000000000088C340000000000088C340000000000088C340'::geometry))",),
 (u'        Sort Method: top-N heapsort  Memory: 27kB',),
 (u'        ->  Bitmap Heap Scan on cube  (cost=136.17..16784.90 rows=1 width=898) (actual time=3.393..14.624 rows=98 loops=1)',),
 (u"              Recheck Cond: (obj_geom && '01030000800100000005000000000000000094C140000000000094C140000000000094C140000000000094C14000000000007CC540000000000094C14000000000007CC54000000000007CC54000000000007CC54000000000007CC540000000000094C14000000000007CC540000000000094C140000000000094C140000000000094C140'::geometry)",),
 (u"              Filter: ((obj_geom &&& '010200008002000000000000000094C140000000000094C140000000000094C14000000000007CC54000000000007CC54000000000007CC540'::geometry) AND ('0101000080000000000088C340000000000088C340000000000088C340'::geometry && st_expand(obj_geom, 1000::double precision)) AND _st_3ddwithin(obj_geom, '0101000080000000000088C340000000000088C340000000000088C340'::geometry, 1000::double precision))",),
 (u'              Rows Removed by Filter: 4715',),
 (u'              ->  Bitmap Index Scan on cubeindex  (cost=0.00..136.17 rows=4234 width=0) (actual time=1.894..1.894 rows=4813 loops=1)',),
 (u"                    Index Cond: (obj_geom && '01030000800100000005000000000000000094C140000000000094C140000000000094C140000000000094C14000000000007CC540000000000094C14000000000007CC54000000000007CC54000000000007CC54000000000007CC540000000000094C14000000000007CC540000000000094C140000000000094C140000000000094C140'::geometry)",),
 (u'Total runtime: 14.765 ms',)]

**To find closest objects from another specified object**

The issue here is that ST_Centroid() drops off the Z-coordinate when taking as value the 3D box (either from BOX3d() or ST_3DExtent), so to make this query possible we need to store x,y,z of object centroid explicitly.  

Here's implementation given with the cubes test table:

In [122]:
%%sql
select c.id, c.name
from cube as c,
cube as ref
where ref.id = (select id from cube limit 1)
and c.id != ref.id
and ST_3DDWithin(c.obj_geom, ST_MakePoint(ref.centroid_x, ref.centroid_y, ref.centroid_z), 1000)
and c.obj_geom &&& ST_MakeLine(ST_MakePoint(ref.centroid_x-1000,ref.centroid_y-1000,ref.centroid_z-1000), 
                               ST_MakePoint(ref.centroid_x+1000,ref.centroid_y+1000,ref.centroid_z+1000))
;

9 rows affected.

[(217519, u'cube at (498.04, 752.12, 2.34)'),
 (653584, u'cube at (269.73, 107.48, 241.22)'),
 (1239427, u'cube at (94.99, 279.29, 125.82)'),
 (1303678, u'cube at (772.63, 236.89, 569.58)'),
 (1528575, u'cube at (151.68, 606.24, 573.11)'),
 (1936797, u'cube at (69.85, 505.17, 178.09)'),
 (2433245, u'cube at (288.92, 264.11, 646.56)'),
 (2648627, u'cube at (643.23, 243.64, 242.07)'),
 (2837924, u'cube at (191.09, 523.92, 244.39)')]

"NearMe" optimized query Execution Plan (same query as above):

In [124]:
%%sql
explain analyze select c.id, c.name from cube as c, cube as ref where ref.id = 9626621 and c.id != ref.id and ST_3DDWithin(c.obj_geom, ST_MakePoint(ref.centroid_x, ref.centroid_y, ref.centroid_z), 1000) and c.obj_geom &&& ST_MakeLine(ST_MakePoint(ref.centroid_x-1000,ref.centroid_y-1000,ref.centroid_z-1000),ST_MakePoint(ref.centroid_x+1000,ref.centroid_y+1000,ref.centroid_z+1000))

10 rows affected.

[(u'Nested Loop  (cost=10.67..413777.75 rows=1 width=42) (actual time=516.384..516.384 rows=0 loops=1)',),
 (u'  ->  Seq Scan on cube ref  (cost=0.00..412501.03 rows=1 width=28) (actual time=516.383..516.383 rows=0 loops=1)',),
 (u'        Filter: (id = 9626621)',),
 (u'        Rows Removed by Filter: 3000001',),
 (u'  ->  Bitmap Heap Scan on cube c  (cost=10.67..1276.71 rows=1 width=898) (never executed)',),
 (u'        Recheck Cond: (obj_geom && st_expand(st_makepoint(ref.centroid_x, ref.centroid_y, ref.centroid_z), 1000::double precision))',),
 (u'        Filter: ((id <> ref.id) AND (st_makepoint(ref.centroid_x, ref.centroid_y, ref.centroid_z) && st_expand(obj_geom, 1000::double precision)) AND (obj_geom &&& st_makeline(st_makepoint((ref.centroid_x - 1000::double precision), (ref.centroid_y - 1000::double precision), (ref.centroid_z - 1000::double precision)), st_makepoint((ref.centroid_x + 1000::double precision), (ref.centroid_y + 1000::double precision), (ref.centroid_z + 1000::double precision)))) AND _st_3ddwithin(obj_geom, st_makepoint(ref.centroid_x, ref.centroid_y, ref.centroid_z), 1000::double precision))',),
 (u'        ->  Bitmap Index Scan on cubeindex  (cost=0.00..10.67 rows=300 width=0) (never executed)',),
 (u'              Index Cond: (obj_geom && st_expand(st_makepoint(ref.centroid_x, ref.centroid_y, ref.centroid_z), 1000::double precision))',),
 (u'Total runtime: 516.447 ms',)]